<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DARBO ATASKAITOS</title>
  
  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">VIKO</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-secondary" href="/admin/2025-2026/faculties">Fakultetai</a>
    <a class="btn btn-outline-secondary" href="/admin/2025-2026/users">Naudotojai</a>
  </nav>
  <div class="dropdown show">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      2025-2026 m. m.
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="/admin/2022-2023/users">2022-2023 m. m.</a>
      <a class="dropdown-item" href="/admin/2023-2024/users">2023-2024 m. m.</a>
      <a class="dropdown-item" href="/admin/2024-2025/users">2024-2025 m. m.</a>
      <a class="dropdown-item disabled" href="#">2025-2026 m. m.</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/admin/profile">Pradinis</a>
    </div>
  </div>
  <a class="btn btn-outline-primary" href="/logout">Atsijungti</a>
</div>

<body>