<%- include('partials/headerAdmin2022_2023') %>

<div class="container">
  <div class="jumbotron ">
    <% if(userUpd != '') { %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <div>Sėkmingai atnaujinta!</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
    <h1 class="text-center">Viko fakultetų sąrašas 2022 - 2023 m. m.</h1>
    <div class="text-left">
      <br>
      <p></p>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Fakultetas</th>
          <th scope="col" class="text-right"></th>
        </tr>
      </thead>
      
      <%  faculties.forEach(function(faculty){ %>
      <div class="database-result-edit">
        <tbody>
          <tr>
            <td scope="row">
              <div class="edit-left">
                <span class=""> <%=faculty.username%></span>
              </div>
            </td>
            <td>
              <div class="text-right">
                <div class="btn-group" role="group" aria-label="" id="group">
                  <a type="button" class="btn btn-secondary" href="/admin/2022-2023/users/edit-users/<%=faculty._id%>">Fakulteto dėstytojai ir katedrų vedėjai</a>
                </div>
              </div>
              
            </td>
            
          </tr>
        </tbody>
      </div>
      <% }) %>
    </table>
    
  </div>
</div>



<%- include('partials/footer') %>