<%- include('partials/headerAdmin') %>

<div class="container">
  <div class="jumbotron ">

    <h1 class="text-center">Viko fakultetų sukūrimas</h1>

    <form action="/create-faculty" method="post">
      <div class="form-group ">

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="">Fakultetas:</label>
            <select name="fakultetas" class="form-select form-control" required>
              <option value="nepasirinkta"></option>
              <option class="others" value="Agrotechnologijų">Agrotechnologijų</option>
              <option class="others" value="Ekonomikos">Ekonomikos</option>
              <option class="others" value="Elektronikos ir informatikos">Elektronikos ir informatikos</option>
              <option class="others" value="Menų ir kūrybinių technologijų">Menų ir kūrybinių technologijų</option>
              <option class="others" value="Pedagogikos">Pedagogikos</option>
              <option class="others" value="Sveikatos priežiūros">Sveikatos priežiūros</option>
              <option class="others" value="Verslo vadybos">Verslo vadybos</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="">Dekanas:</label>
            <input type="text" class="form-control" name="dekanas" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="">Prodekanas:</label>
            <input type="text" class="form-control" name="prodekanas" required>
          </div>
        </div>

        <div class="row">
          <div class="text-center">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Ar tikrai norite išsaugoti?');">SUKURTI</button>
          </div>
        </div>

      </div>
    </form>

  </div>
</div>

<%- include('partials/footer') %>
