<%- include('partials/headerAdmin') %>

<div class="container">
  <div class="jumbotron ">

    <h1 class="text-center">Sistemos logai</h1>

    <%  users_history.forEach(function(users_history){ %>
    <div class="database-result-edit">
      <div class="edit-left">
      <span class="font-weight-bold"> <%=users_history._id%></span>
      </div>
    </div>
<br>
    <% }) %>


  </div>
</div>



<%- include('partials/footer') %>
