<%- include('partials/headerMain') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Vilniaus kolegijos metinių veiklos ataskaitų sistema</h1>
</div>

<div class="container">
  <div class="jumbotron ">

<h4 class="text-center">Pasirinkite naudotojo aplinką</h4>
<div class="row">
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 text-center">
    <a class="btn btn-outline-primary" href="/user-window">Dėstytojų ataskaitos</a>
    <a class="btn btn-outline-primary" href="/user-window-dep">Katedros vedėjų ataskaitos</a>
  </div>
</div>

  </div>
</div>


<%- include('partials/footer') %>
