<%if ( user.role === "dėstytojas") { %>
<%- include('partials/headerLecturer') %>
<% } else if (user.role === "katedros vedėjas") { %>
<%- include('partials/headerDep') %>
<% } %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Vilniaus kolegijos metinių veiklos ataskaitų sistema</h1>
  <%if ( user.role === "dėstytojas") { %>
  <h1>Dėstytojo aplinka</h1>
  <% } else if (user.role === "katedros vedėjas") { %>
  <h1>Katedros vedėjo aplinka</h1>
  <% } %>
</div>

<div class="container">
  <div class="jumbotron ">
    
    <form action="/change-user-password" method="post">
      <div class="form-group">
        <h4 class="text-center">Slaptažodžio keitimas</h4>
        
        <input type="text" name="username" value="<%=user.username%>" hidden readonly>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label>Senas slaptažodis:</label>
            <input type="password" name="password" minlength="5" class="form-control form-control-md" required placeholder="" autocomplete="off">
          </div>
        </div>
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label>Naujas slaptažodis:</label>
            <input type="password" name="newPassword" id="password" minlength="5" class="form-control form-control-md" required placeholder="" autocomplete="off">
          </div>
        </div>
        
        <div class="form-row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <label>Naujo slaptažodžio patvirtinimas:</label>
            <input type="password" name="confirmNewPassword" id="confirmPassword" minlength="5" class="form-control form-control-md" required placeholder="" autocomplete="off">
          </div>
        </div>
        <div class=" text-center">
          <span id='message'></span>
        </div>
        <br>
        <div class=" text-center">
          <button id="isAvailable" type="submit" class="btn btn-primary">Patvirtinti</button>
        </div>
        
      </div>
    </form>
    
  </div>
</div>


<%- include('partials/footer') %>