html {
  min-height: 100%;
  position: relative;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 50px;
}

#footer .container-fluid {
  padding-top: 0.7%;
}
a {
  text-decoration: none;
}

.copyright {
  float: none;
  text-align: center;
  padding-bottom: 18px;
  margin-bottom: 5px;
}

.centered {
  text-align: center;
}

.edit-left {
  float: left;
}

.database-result-edit {
  text-align: right;
}

.plus-button {
  border: 2px solid lightgrey;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
  float: left;
  font-weight: bold;
}

.notbold {
  font-weight: normal
}

@media print {
  .noprint {
    display: none;
  }

  .printable {
    display: block;
  }

  .textarea {
    height: auto;
  }
.print_helper
{
  display: block;
  overflow: visible;
  white-space: pre;
  white-space: pre-wrap;
}
.the_textarea {
  display: none;
}
}

@media screen {
  .printable {
    display: none;
  }
  .print_helper
  {
    display: none;
  }
}


input:focus::placeholder {
  color: transparent;
}

/* back to begin button */
.circle-button {
  align-items: center;
}
.circle {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 20%;
  background-color: lightgrey;
  color: #FFF;
  text-align: center;
  line-height: 1;
  padding: 16px 1px 1px 1px;
  text-decoration: none;
  font-size: 65%;
  position: fixed;
  right: 2.5rem;
  bottom: 6rem;
}
/* new */
.select,
#locale {
  width: 100%;
}
.like {
  margin-right: 10px;
}

.jumbotron {
  margin-bottom: 7.5rem;
}
